.container {
  display: flex;
  flex-direction: column
}

#login_button {
  height: 35px;
  background-color: black;
  border-width: 1px;
  border-radius: 5px;
}

#github_logo {
  height: 20px;
  width: auto;
}